body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

ol {
    list-style-type: none;
    padding: 20px;
    text-align: center;
}

li {
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: hwb(293 11% 43%);
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
}

a:hover {
    color: hwb(293 11% 43%);
}
